@theme {
    --color-primary-100: #F9FFCC;
    --color-primary-200: #FBFFCC;
    --color-primary-300: #F0FF66;
    --color-primary-400: #EAFF3F;
    --color-primary-500: #E1FF00;
    --color-primary-600: #BEDB00;
    --color-primary-700: #9DB700;
    --color-primary-800: #7D9300;
    --color-primary-900: #657A00;

    --color-neutral-100: #FAFAF9;
    --color-neutral-200: #F5F6F4;
    --color-neutral-300: #E9EAE6;
    --color-neutral-400: #D3D4CE;
    --color-neutral-500: #9FA197;
    --color-neutral-600: #6E7066;
    --color-neutral-700: #55564D;
    --color-neutral-800: #3A3C34;
    --color-neutral-900: #20211C;

    --color-success-100: #E5FDE1;
    --color-success-200: #C6FCC4;
    --color-success-300: #A5F8AB;
    --color-success-400: #8DF19E;
    --color-success-500: #68E88A;
    --color-success-600: #4CC778;
    --color-success-700: #34A769;
    --color-success-800: #218659;
    --color-success-900: #136F4F;

    --color-info-100: #CDFCFE;
    --color-info-200: #9BF4FE;
    --color-info-300: #69E4FC;
    --color-info-400: #43CFFA;
    --color-info-500: #07AFF7;
    --color-info-600: #0588D4;
    --color-info-700: #0366B1;
    --color-info-800: #02488F;
    --color-info-900: #013476;

    --color-warning-100: #FEFDD2;
    --color-warning-200: #FDFBA6;
    --color-warning-300: #FBF778;
    --color-warning-400: #F7F257;
    --color-warning-500: #F2EB21;
    --color-warning-600: #D0C918;
    --color-warning-700: #AEA710;
    --color-warning-800: #8C860A;
    --color-warning-900: #746E06;

    --color-error-100: #FFEAD4;
    --color-error-200: #FFD0AA;
    --color-error-300: #FFAF7F;
    --color-error-400: #FF9060;
    --color-error-500: #FF5C2B;
    --color-error-600: #DB3D1F;
    --color-error-700: #B72315;
    --color-error-800: #930F0D;
    --color-error-900: #7A080E;
}
