@theme {
    --spacing-base: 0.25rem;    /* 4px */

    --spacing-0-5: calc(var(--spacing-base) * 0.5); /* 2px */
    --spacing-1: calc(var(--spacing-base));         /* 4px */
    --spacing-2: calc(var(--spacing-base) * 2);     /* 8px */
    --spacing-4: calc(var(--spacing-base) * 4);     /* 16px */
    --spacing-6: calc(var(--spacing-base) * 6);     /* 24px */
    --spacing-8: calc(var(--spacing-base) * 8);     /* 32px */
    --spacing-16: calc(var(--spacing-base) * 16);   /* 64px */
    --spacing-32: calc(var(--spacing-base) * 32);   /* 128px */

    --border-thickness-1: 1px;
    --border-thickness-2: 2px;
}