@theme {
    --color-text-title: var(--color-neutral-900);
    --color-text-body: var(--color-neutral-700);
    --color-text-muted: var(--color-neutral-500);

    --color-border: var(--color-neutral-500);

    --color-surface: #FFFFFF;
    --color-surface-muted: var(--color-neutral-300);
    --color-surface-raised: var(--color-neutral-100);

    --color-background: var(--color-neutral-100);

    --color-primary: var(--color-primary-500);
    --color-primary-border: var(--color-primary-300);
    --color-primary-bg: var(--color-primary-100);

    --color-success: var(--color-success-500);
    --color-success-border: var(--color-success-300);
    --color-success-bg: var(--color-success-100);

    --color-info: var(--color-info-500);
    --color-info-border: var(--color-info-300);
    --color-info-bg: var(--color-info-100);

    --color-error: var(--color-error-500);
    --color-error-border: var(--color-error-300);
    --color-error-bg: var(--color-error-100);

    --color-warning: var(--color-warning-500);
    --color-warning-border: var(--color-warning-300);
    --color-warning-bg: var(--color-warning-100);
}