@theme {
    --spacing-xs: var(--spacing-1);
    --spacing-sm: var(--spacing-2);
    --spacing-md: var(--spacing-4);
    --spacing-lg: var(--spacing-6);
    --spacing-xl: var(--spacing-8);
    --spacing-5xl: var(--spacing-32);

    --radius-sm: var(--spacing-2);
    --radius-md: var(--spacing-4);
    --radius-lg: var(--spacing-8);
    --radius-xl: var(--spacing-16);

    --border-width-sm: var(--border-thickness-1);
    --border-width-md: var(--border-thickness-2);
}