@theme {
    --spacing-xs: var(--spacing-1);     /* 4px */
    --spacing-sm: var(--spacing-2);     /* 8px */
    --spacing-md: var(--spacing-4);     /* 16px */
    --spacing-lg: var(--spacing-6);     /* 24px */
    --spacing-xl: var(--spacing-8);     /* 32px */
    --spacing-5xl: var(--spacing-32);   /* 128px */

    --radius-sm: var(--spacing-2);      /* 8px */
    --radius-md: var(--spacing-4);      /* 16px */
    --radius-lg: var(--spacing-8);      /* 32px */
    --radius-xl: var(--spacing-16);     /* 64px */

    --border-width-sm: var(--border-thickness-1);   /* 1px */
    --border-width-md: var(--border-thickness-2);   /* 2px */
}