@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

@import "tailwindcss";

@import "./styles/primitives/colors.css";
@import "./styles/primitives/spacing.css";
@import "./styles/primitives/typography.css";

@import "./styles/semantics/colors.css";
@import "./styles/semantics/layout.css";
@import "./styles/semantics/typography.css";

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

:root, body {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;

    color: var(--color-text-body);

}

#root {
    height: 100dvh;
    width: 100%;
}