@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

@import "tailwindcss";

@import "./styles/primitives/colors.css";
@import "./styles/primitives/spacing.css";
@import "./styles/primitives/typography.css";

@import "./styles/semantics/colors.css";
@import "./styles/semantics/layout.css";
@import "./styles/semantics/typography.css";


:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
