@utility text-heading-h1 {
    font-size: var(--text-scale-7);
    font-weight: var(--font-weight-bold);
}

@utility text-heading-h2 {
    font-size: var(--text-scale-6);
    font-weight: var(--font-weight-bold);
}

@utility text-heading-h3 {
    font-size: var(--text-scale-5);
    font-weight: var(--font-weight-regular);
}

@utility text-heading-h4 {
    font-size: var(--text-scale-4);
    font-weight: var(--font-weight-regular);
}

@utility text-body {
    font-size: var(--text-scale-3);
    font-weight: var(--font-weight-regular);
}

@utility text-small {
    font-size: var(--text-scale-2);
    font-weight: var(--font-weight-regular);
}

@utility text-caption {
    font-size: var(--text-scale-1);
    font-weight: var(--font-weight-regular);
}
